body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    min-height: 10em;
    box-sizing: border-box;
    background-color: #0030e0;
    padding: 1.5em;
    display: flex;
    align-items: center;
}

@media screen and (width < 41em) {
    header {
        flex-direction: column;
        text-align: center;
    }
}

main {
    flex-grow: 1;
    padding: 5vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5vw;
    background-color: #c8d8ff;
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.contentbox {
    border-radius: 10px;
    background-color: #d0cbc8;
    padding: 20px;
    box-sizing: border-box;
}

#images {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

#images>img {
    width: 100%;
}

footer {
    width: 100%;
    height: 5em;
    background-color: #7070ff;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#header-title {
    margin: 0 auto;
    font-size: 3em;
}

#header-logo-link {
    height: 7em;
}

#header-logo {
    height: 100%;
}

#footer-logo-link {
    height: 3em;
}

#footer-logo {
    height: 100%;
}
