body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    background-color: #0000a0;
    padding: 30px;
    display: flex;
    align-items: center;
}

main {
    flex-grow: 1;
}

footer {
    width: 100%;
    height: 120px;
    background-color: #7070ff;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#header-logo-link {
    height: 100%;
}
#header-logo {
    height: 100%;
}

#footer-logo-link {
    height: 100%;
}
#footer-logo {
    height: 100%;
}
